	<div id="netflix-connect-container" class="main-container">
		<hgroup>
			<h2>Connect to Netflix</h2>
			<p class="subtitle">Login to Netflix and allow <span class="app-name">trakt/flix</span> access to rental information so we can find the movies you've watched.</p>
		</hgroup>
		<div class="main-body">
			<a href="/connect" class="netflix-connect">Connect to Netflix</a>
		</div>
	</div>
